/* General styling */
body {
  margin: 0;
  padding: 0;
  background-image: url(/views/assets/backdrop.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #010114;
  overflow-x: hidden;
}

.main-header {
  display: grid;
  grid-template-areas: "logo menu";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 100%;
  height: 8rem;
}
.logo-container {
  grid-area: logo;
  align-self: center;
  justify-self: flex-start;
  padding-left: 1rem;
  margin: 0;
  transition: 0.1s;
  z-index: 1;
}
.logo-container:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}

.fName-logo {
  color: #009fb7;
  font-family: Panton-Trial;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.lName-logo {
  color: #696773;
  font-family: Panton-Trial;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.menu {
  grid-area: menu;
  justify-self: flex-end;
  align-self: center;
  transition: 0.1s;
  padding-right: 1rem;
  position: fixed;
  z-index: 1;
}
.menu:hover {
  transform: scale(1.2);
  transition: 0.2s;
  cursor: pointer;
}
.main-footer {
  width: 100vw;
  display: grid;
  grid-template-areas:
    ". icons ."
    ". copyright .";
  grid-template-rows: 50% 50%;
  grid-template-columns: 42.5% 15% 42.5%;
  padding-top: 1rem;
}
.icons-footer {
  grid-area: icons;
  display: flex;
  justify-content: space-evenly;
}
.copyright {
  grid-area: copyright;
  color: #6e6e79;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.cr1 {
  font-family: Panton-Trial;
  font-style: normal;
}

.icon {
  padding-left: 0.3rem;
  transition: 0.3s;
}
.icon:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}
.overlay {
  width: 100%;
  height: 0px;
  transition: 0.5s;
  z-index: 1;
  overflow-x: hidden;
  position: fixed;
  background-image: url(/views/assets/custom-backdrop.png);
  background-size: cover;
}

.nav-bar {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "portfolio portfolio"
    "about about"
    "contact contact"
    "links links";
  grid-template-columns: 75% 25%;
  grid-template-rows: 25% 25% 25% 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 4rem;
}

.nav-item-1 {
  grid-area: portfolio;
  align-self: center;
  justify-self: center;
  transition: 0.3s;
  display: flex;
  color: #6e6e79;
  text-decoration: none;
}

.nav-item-1:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
  color: white;
}
.nav-item-2 {
  grid-area: about;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  color: #6e6e79;
  transition: 0.3s;
}
.nav-item-2:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
  color: white;
}
.nav-item-3 {
  grid-area: contact;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  color: #6e6e79;
  transition: 0.3s;
}
.nav-item-3:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
  color: white;
}
.icons-header {
  grid-area: links;
  display: flex;
  justify-content: center;
}
.icon-header {
  padding-left: 1rem;
  transition: 0.3s;
  stroke: #6e6e79;
}

.icon-header:hover {
  transform: scale(1.1);
  transition: 0.5s;
  transform-origin: center;
  cursor: pointer;
  stroke: white;
}
/*Home page styling*/

.subtext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: grid;
  grid-template:
    "title title title"
    ". profile-image ."
    "bar bar bar";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto auto 100% 100%;
  gap: 20px;
  height: auto;
}
.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #6e6e79;
  font-family: panton-trial;
}

.main-image {
  display: grid;
  grid-area: profile-image;
  margin-bottom: 0;
}
.main-image-img {
  width: auto; /* Adjust as necessary */
  height: 40vw; /* Adjust as necessary */
  justify-self: center; /* Change from center to end */
  align-self: center; /* Keep centered vertically */
}

.skill-bar {
  grid-area: bar;
  margin-top: 0;
  width: 100vw;
  height: 6vh;
  background-color: #0e0e1e;
  font-size: 2rem;
  color: #ffffff66;
  font-family: panton-trial;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill {
  padding-left: 90px;
}
.block-grid {
  display: grid;
  grid-template:
    "block-1  block-2"
    "block-3  block-4"
    /* "block-6  block-7" */
    "block-5  block-5";
  grid-template-columns: 30%  30%;
  grid-template-rows: 50vh 50vh 50vh;
  height: 150vh;
  width: auto;
  padding: 0;
  justify-content: center;
}
.block-1,.block-2,.block-3,.block-4,.block-5,.block-5 {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20vw;
  height: 20vw;
  transition: 0.5s;
}
.block-1:hover,.block-2:hover,.block-3:hover,.block-4:hover,.block-5:hover,.block-5:hover{
transform: scale(1.1);
transition: 0.5s;
cursor: pointer;
}
.block-1 {
  grid-area: block-1;
  justify-self: center;
  align-self: center;
}
.block-2 {
  grid-area: block-2;
  justify-self: center;
  align-self: end;
}
.block-3 {
  grid-area: block-3;
  justify-self: center;
  align-self: center;
}
.block-4 {
  grid-area: block-4;
  justify-self: center;
  align-self: end;
}
.block-5 {
  grid-area: block-5;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 55vw;
  height: 22vw;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid #696773;
}
.block-5-item{
  font-size: 4rem;
  color: #696773;
  font-family: panton-trial;
}
.block-5-item-2{
  font-size: 2rem;
  color: #696773;
  font-family: panton-trial; 
  text-decoration: none; 
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: white;
  border-radius: 45px;
  transition: 0.5s;
}
.block-5-item-2:hover{
  background-color: #696773;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

/* project styles*/
.project-main-container{
display: grid;
}

.project-sub-image{
justify-self: center;
align-content: center;
height: 30vh;
width: 80vw;

}
.project-main-image{
  height: 60vh;
  width: 55vw;
  justify-self: center;
  align-content: center;
}
.header-project{
  height: auto;
  width: 55vw;
  color: white;
  font-size: 2rem;
  font-family: panton-trial;
  justify-self: center;
  align-content: center;
  padding: 1vh;
}
.article-project{
  color: white;
  word-wrap: break-word;
  font-size: 1rem;
  font-family: panton-trial;
  justify-self: center;
  align-content: center;
  padding: 1vh;
  width: 55vw;
  height: auto;
}
input{
background-color: transparent;
border: none;
}
textarea{
background-color: transparent;
border: none;
}
.contact-input{
width: 50vw;
background-color: white;
font-size: 1rem;
font-family: panton-trial;
justify-self: center;
align-content: center;
resize: none;

}
.Contact-form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
font-family: panton-trial;
overflow: hidden;
}
.Contact-form *{
  padding: 1vh;
}
.contact-button{
  background-color: #696773;
  color: white;
  width: 20vw;
  font-size: 1rem;
  font-family: panton-trial;
  border: none;

  padding: 1vh;
  margin-top: 1vh;
} 
.contact-button:hover{
  background-color: white;
  color: #696773;
  transition: 0.5s;
  cursor: pointer;
}