.main-header {
  display: flex;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  align-items: flex-end;
}

.fName-logo {
  color: #009fb7;
  font-family: Panton-Trial;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  padding: 3px;
  justify-content: center;
  align-items: center;
}
.lName-logo {
  color: #696773;
  font-family: Panton-Trial;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  padding: 3px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
